@import "../../Styles/global.scss";

.subTitle {
    font-weight: bold;
    margin-right: 10rem;
}
.subContainer {
    display: flex;
    width: fit-content;
    padding-bottom: 20px;
    padding-top: 7px;
}
.container {
    width: fit-content;
    padding: 1rem;
}
.paymentTypeContainer {
    display: flex;
    justify-content: space-around;
    
}

.inputField{
    margin-top: 0.5rem !important;
    width: 100%
}
.notesInput{
    @extend .inputForm;
    display: flex;
    flex-direction: column;
}
hr {
    border-top: 1px solid rgb(226, 226, 226);
}